<div>
  <button class="log-bttn roll" data-img={{character.img}}>--Roll--</button>
  <a href="/play"><button class="log-bttn play">--Play--</button></a>
  <button class="log-bttn" id="logout">--Logout--</button>
    {{!-- <audio controls loop autoplay preload="auto" class="">
    <source src="./audio/hackMe.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio> --}}
</div>
<script>

</script>
<script defer type="module" src="./js/3dRender/homePage.js"></script>