<div class="taskbar">
  <button class="start-button">--Hack--</button>
  <div class="start-menu" id="start-menu" style="display: none">
    <p id="sidebar">&ensp;&ensp;&ensp;&ensp;L33t 0S&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;</p>
    <!-- Add menu items here -->
    <ul>
      <li><img id="attack" src="/imgs/moves/HACK.png" /></li>
      <li><img id="loveSpecial" src="/imgs/moves/LoveDDOS.png" /></li>
      <li><img id="defend" src="/imgs/moves/Encrypt.png" /></li>
      <li><img id="spyderSpecial" src="/imgs/moves/Spyder.png" /></li>
    </ul>
  </div>
  <img  class="band" src="/imgs/UI/bandwith.png"/>
  {{#if loggedIn}}
  <button id="logout">Logout</button>
  {{else}}
  <a href="/login"><button>--Login--</button></a>
  <a href="/register"><button>--Register--</button></a>
  {{/if}}
</div>
<script defer type="module" src="./js/startMenu.js"></script>
<script defer type="module" src="./js/render.js"></script>